#posts_container {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: seagreen;
}

.post {
border: 1px solid white;
flex-basis: 28%;
padding: 10px;
margin: 1em 0;
}


.post__title:hover {
background-color: white;
color: seagreen;
}


.post__title {
font-family: 'Bungee Outline', cursive;
font-size: 2em;
color: white;

}


.post__body {
font-family: 'Inconsolata', monospace;
color: white;
font-size: 1em;
}
